<div>
    <h2>Tcsmodules</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="tcsmodule.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Tcsmodule
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Module Id</span></th>
                    <th><span>Wing</span></th>
                    <th><span>Block Name</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tcsmodule in vm.tcsmodules track by tcsmodule.id">
                    <td><a ui-sref="tcsmodule-detail({id:tcsmodule.id})">{{tcsmodule.id}}</a></td>
                    <td>{{tcsmodule.moduleId}}</td>
                    <td>{{tcsmodule.wing}}</td>
                    <td>{{tcsmodule.blockName}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="tcsmodule-detail({id:tcsmodule.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="tcsmodule.edit({id:tcsmodule.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="tcsmodule.delete({id:tcsmodule.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
