
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTcsmoduleLabel">Create or edit a Tcsmodule</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.tcsmodule.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.tcsmodule.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_moduleId">Module Id</label>
            <input type="number" class="form-control" name="moduleId" id="field_moduleId"
                    ng-model="vm.tcsmodule.moduleId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_wing">Wing</label>
            <select class="form-control" name="wing" ng-model="vm.tcsmodule.wing" id="field_wing">
                <option value="NW">NW</option>
                <option value="SW">SW</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_blockName">Block Name</label>
            <select class="form-control" name="blockName" ng-model="vm.tcsmodule.blockName" id="field_blockName">
                <option value="EB1">EB1</option>
                <option value="EB2">EB2</option>
                <option value="EB3">EB3</option>
                <option value="EB4">EB4</option>
                <option value="EB5">EB5</option>
                <option value="EB6">EB6</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
