
<div>
    <h2><span>Tcsmodule</span> {{vm.tcsmodule.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Module Id</span></dt>
        <dd>
            <span>{{vm.tcsmodule.moduleId}}</span>
        </dd>
        <dt><span>Wing</span></dt>
        <dd>
            <span>{{vm.tcsmodule.wing}}</span>
        </dd>
        <dt><span>Block Name</span></dt>
        <dd>
            <span>{{vm.tcsmodule.blockName}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="tcsmodule-detail.edit({id:vm.tcsmodule.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
