
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAccountManagersLabel">Create or edit a Account Managers</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.accountManagers.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.accountManagers.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_managerId">Manager Id</label>
            <input type="number" class="form-control" name="managerId" id="field_managerId"
                    ng-model="vm.accountManagers.managerId"
                     />
        </div>

        <div class="form-group">
            <label for="field_tcsAccount">Tcs Account</label>
            <select class="form-control" id="field_tcsAccount" name="tcsAccount" ng-model="vm.accountManagers.tcsAccountId" ng-options="tcsaccount.id as tcsaccount.id for tcsaccount in vm.tcsaccounts | orderBy:'id'">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_employee">Employee</label>
            <select class="form-control" id="field_employee" name="employee" ng-model="vm.accountManagers.employeeId" ng-options="employee.id as employee.id for employee in vm.employees | orderBy:'id'">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
