
<div>
    <h2><span>Account Managers</span> {{vm.accountManagers.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Manager Id</span></dt>
        <dd>
            <span>{{vm.accountManagers.managerId}}</span>
        </dd>
        <dt><span>Tcs Account</span></dt>
        <dd>
            <a ui-sref="tcsaccount-detail({id:vm.accountManagers.tcsAccountId})">{{vm.accountManagers.tcsAccountId}}</a>
        </dd>
        <dt><span>Employee</span></dt>
        <dd>
            <a ui-sref="employee-detail({id:vm.accountManagers.employeeId})">{{vm.accountManagers.employeeId}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="account-managers-detail.edit({id:vm.accountManagers.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
