
<form name="editForm" role="form" novalidate ng-submit="vm.assignSeat()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySeatLabel">Assign Seat</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="field_seatName">Seat Name</label>
            <select class="form-control" id="field_seatName" name="id" ng-model="vm.seat.id" ng-options="seatassign as seatassign.id for seatassign in vm.seats | orderBy:'id' track by seatassign.id">
                <option value=""></option>
            </select>
        </div>

        <div class="form-group">
            <label for="field_module">Module</label>
            <select class="form-control" id="field_module" name="module" ng-model="vm.seat.module" ng-options="tcsmodule as tcsmodule.id for tcsmodule in vm.tcsmodules track by tcsmodule.id">
                <option value=""></option>
            </select>
        </div>


        <div class="form-group">
            <label for="field_employee">Employee</label>
            <select class="form-control" id="field_employee" name="employee" ng-model="vm.seat.employee" ng-options="employee as employee.id for employee in vm.employees | orderBy:'id' track by employee.id">
                <option value=""></option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
