<div>
    <h2>Seats</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="seat.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Seat
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Seat Id</span></th>
                    <th><span>Seat Name</span></th>
                    <th><span>Status</span></th>
                    <th><span>Employee</span></th>
                    <th><span>Module</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="seat in vm.seats track by seat.id">
                    <td><a ui-sref="seat-detail({id:seat.id})">{{seat.id}}</a></td>
                    <td>{{seat.seatId}}</td>
                    <td>{{seat.seatName}}</td>
                    <td>{{seat.status}}</td>
                    <td>
                        <a ui-sref="employee-detail({id:seat.employee.id})">{{seat.employee.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="tcsmodule-detail({id:seat.module.id})">{{seat.module.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="seat-detail({id:seat.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="seat.edit({id:seat.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="seat.delete({id:seat.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
