
<div>
    <h2><span>Seat</span> {{vm.seat.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Seat Id</span></dt>
        <dd>
            <span>ASeats</span>
        </dd>
        <dt><span>Seat Name</span></dt>
        <dd>
            <span>{{vm.seat.seatName}}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
            <span>{{vm.seat.status}}</span>
        </dd>
        <dt><span>Employee</span></dt>
        <dd>
            <a ui-sref="employee-detail({id:vm.seat.employee.id})">{{vm.seat.employee.id}}</a>
        </dd>
        <dt><span>Module</span></dt>
        <dd>
            <a ui-sref="tcsmodule-detail({id:vm.seat.module.id})">{{vm.seat.module.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="seat-detail.edit({id:vm.seat.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
