<div id="seatmap1" ng-repeat="seat in vm.seats track by seat.id">

    <div class="seat occupied" ng-if="seat.employee" ></div>

    <div class="seat unoccupied" ng-if="!seat.employee"></div>


</div>

