<div>
    <h2>Project Managers</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="project-managers.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Project Managers
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Project Manager Id</span></th>
                    <th><span>Employee</span></th>
                    <th><span>Team</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="projectManagers in vm.projectManagers track by projectManagers.id">
                    <td><a ui-sref="project-managers-detail({id:projectManagers.id})">{{projectManagers.id}}</a></td>
                    <td>{{projectManagers.projectManagerId}}</td>
                    <td>
                        <a ui-sref="employee-detail({id:projectManagers.employeeId})">{{projectManagers.employeeId}}</a>
                    </td>
                    <td>
                        <a ui-sref="project-detail({id:projectManagers.teamId})">{{projectManagers.teamId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="project-managers-detail({id:projectManagers.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="project-managers.edit({id:projectManagers.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="project-managers.delete({id:projectManagers.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
