
<div>
    <h2><span>Project Managers</span> {{vm.projectManagers.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Project Manager Id</span></dt>
        <dd>
            <span>{{vm.projectManagers.projectManagerId}}</span>
        </dd>
        <dt><span>Employee</span></dt>
        <dd>
            <a ui-sref="employee-detail({id:vm.projectManagers.employeeId})">{{vm.projectManagers.employeeId}}</a>
        </dd>
        <dt><span>Team</span></dt>
        <dd>
            <a ui-sref="project-detail({id:vm.projectManagers.teamId})">{{vm.projectManagers.teamId}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="project-managers-detail.edit({id:vm.projectManagers.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
