
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTeamMembersLabel">Create or edit a Team Members</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.teamMembers.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.teamMembers.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_memberId">Member Id</label>
            <input type="number" class="form-control" name="memberId" id="field_memberId"
                    ng-model="vm.teamMembers.memberId"
                     />
        </div>

        <div class="form-group">
            <label for="field_subTeam">Sub Team</label>
            <select class="form-control" id="field_subTeam" name="subTeam" ng-model="vm.teamMembers.subTeamId" ng-options="subTeam.id as subTeam.id for subTeam in vm.subteams | orderBy:'id'">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_employee">Employee</label>
            <select class="form-control" id="field_employee" name="employee" ng-model="vm.teamMembers.employeeId" ng-options="employee.id as employee.id for employee in vm.employees | orderBy:'id'">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
