
<div>
    <h2><span>Team Members</span> {{vm.teamMembers.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Member Id</span></dt>
        <dd>
            <span>{{vm.teamMembers.memberId}}</span>
        </dd>
        <dt><span>Sub Team</span></dt>
        <dd>
            <a ui-sref="sub-team-detail({id:vm.teamMembers.subTeamId})">{{vm.teamMembers.subTeamId}}</a>
        </dd>
        <dt><span>Employee</span></dt>
        <dd>
            <a ui-sref="employee-detail({id:vm.teamMembers.employeeId})">{{vm.teamMembers.employeeId}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="team-members-detail.edit({id:vm.teamMembers.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
