<div>
    <h2>Team Members</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="team-members.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Team Members
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Member Id</span></th>
                    <th><span>Sub Team</span></th>
                    <th><span>Employee</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="teamMembers in vm.teamMembers track by teamMembers.id">
                    <td><a ui-sref="team-members-detail({id:teamMembers.id})">{{teamMembers.id}}</a></td>
                    <td>{{teamMembers.memberId}}</td>
                    <td>
                        <a ui-sref="sub-team-detail({id:teamMembers.subTeamId})">{{teamMembers.subTeamId}}</a>
                    </td>
                    <td>
                        <a ui-sref="employee-detail({id:teamMembers.employeeId})">{{teamMembers.employeeId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="team-members-detail({id:teamMembers.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="team-members.edit({id:teamMembers.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="team-members.delete({id:teamMembers.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
