<div>
    <h2>Team Managers</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="team-managers.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Team Managers
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Team Manager Id</span></th>
                    <th><span>Employee</span></th>
                    <th><span>Team</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="teamManagers in vm.teamManagers track by teamManagers.id">
                    <td><a ui-sref="team-managers-detail({id:teamManagers.id})">{{teamManagers.id}}</a></td>
                    <td>{{teamManagers.teamManagerId}}</td>
                    <td>
                        <a ui-sref="employee-detail({id:teamManagers.employeeId})">{{teamManagers.employeeId}}</a>
                    </td>
                    <td>
                        <a ui-sref="team-detail({id:teamManagers.teamId})">{{teamManagers.teamId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="team-managers-detail({id:teamManagers.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="team-managers.edit({id:teamManagers.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="team-managers.delete({id:teamManagers.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
