
<div>
    <h2><span>Team Managers</span> {{vm.teamManagers.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Team Manager Id</span></dt>
        <dd>
            <span>{{vm.teamManagers.teamManagerId}}</span>
        </dd>
        <dt><span>Employee</span></dt>
        <dd>
            <a ui-sref="employee-detail({id:vm.teamManagers.employeeId})">{{vm.teamManagers.employeeId}}</a>
        </dd>
        <dt><span>Team</span></dt>
        <dd>
            <a ui-sref="team-detail({id:vm.teamManagers.teamId})">{{vm.teamManagers.teamId}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="team-managers-detail.edit({id:vm.teamManagers.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
