<div>
    <h2>Team Leads</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="team-leads.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Team Leads
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Team Lead Id</span></th>
                    <th><span>Employee</span></th>
                    <th><span>Team</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="teamLeads in vm.teamLeads track by teamLeads.id">
                    <td><a ui-sref="team-leads-detail({id:teamLeads.id})">{{teamLeads.id}}</a></td>
                    <td>{{teamLeads.teamLeadId}}</td>
                    <td>
                        <a ui-sref="employee-detail({id:teamLeads.employeeId})">{{teamLeads.employeeId}}</a>
                    </td>
                    <td>
                        <a ui-sref="sub-team-detail({id:teamLeads.teamId})">{{teamLeads.teamId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="team-leads-detail({id:teamLeads.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="team-leads.edit({id:teamLeads.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="team-leads.delete({id:teamLeads.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
