
<div>
    <h2><span>Team Leads</span> {{vm.teamLeads.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Team Lead Id</span></dt>
        <dd>
            <span>{{vm.teamLeads.teamLeadId}}</span>
        </dd>
        <dt><span>Employee</span></dt>
        <dd>
            <a ui-sref="employee-detail({id:vm.teamLeads.employeeId})">{{vm.teamLeads.employeeId}}</a>
        </dd>
        <dt><span>Team</span></dt>
        <dd>
            <a ui-sref="sub-team-detail({id:vm.teamLeads.teamId})">{{vm.teamLeads.teamId}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="team-leads-detail.edit({id:vm.teamLeads.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
