
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySubTeamLabel">Create or edit a Sub Team</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.subTeam.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.subTeam.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_subTeamId">Sub Team Id</label>
            <input type="number" class="form-control" name="subTeamId" id="field_subTeamId"
                    ng-model="vm.subTeam.subTeamId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_subTeamName">Sub Team Name</label>
            <input type="text" class="form-control" name="subTeamName" id="field_subTeamName"
                    ng-model="vm.subTeam.subTeamName"
                     />
        </div>

        <div class="form-group">
            <label for="field_team">Team</label>
            <select class="form-control" id="field_team" name="team" ng-model="vm.subTeam.teamId" ng-options="team.id as team.id for team in vm.teams"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
