<div>
    <h2>Sub Teams</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="sub-team.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Sub Team
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Sub Team Id</span></th>
                    <th><span>Sub Team Name</span></th>
                    <th><span>Team</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="subTeam in vm.subTeams track by subTeam.id">
                    <td><a ui-sref="sub-team-detail({id:subTeam.id})">{{subTeam.id}}</a></td>
                    <td>{{subTeam.subTeamId}}</td>
                    <td>{{subTeam.subTeamName}}</td>
                    <td>
                        <a ui-sref="team-detail({id:subTeam.teamId})">{{subTeam.teamId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="sub-team-detail({id:subTeam.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="sub-team.edit({id:subTeam.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="sub-team.delete({id:subTeam.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
