
<div>
    <h2><span>Sub Team</span> {{vm.subTeam.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Sub Team Id</span></dt>
        <dd>
            <span>{{vm.subTeam.subTeamId}}</span>
        </dd>
        <dt><span>Sub Team Name</span></dt>
        <dd>
            <span>{{vm.subTeam.subTeamName}}</span>
        </dd>
        <dt><span>Team</span></dt>
        <dd>
            <a ui-sref="team-detail({id:vm.subTeam.teamId})">{{vm.subTeam.teamId}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="sub-team-detail.edit({id:vm.subTeam.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
