
<div>
    <h2><span>Tcsaccount</span> {{vm.tcsaccount.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Account Id</span></dt>
        <dd>
            <span>{{vm.tcsaccount.accountId}}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
            <span>{{vm.tcsaccount.name}}</span>
        </dd>
        <dt><span>Client</span></dt>
        <dd>
            <span>{{vm.tcsaccount.client}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="tcsaccount-detail.edit({id:vm.tcsaccount.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
