
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEmployeeLabel">Create or edit a Employee</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.employee.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.employee.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_empId">Emp Id</label>
            <input type="number" class="form-control" name="empId" id="field_empId"
                    ng-model="vm.employee.empId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.employee.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_role">Role</label>
            <select class="form-control" name="role" ng-model="vm.employee.role" id="field_role">
                <option value="ACCOUNTMANAGER">ACCOUNTMANAGER</option>
                <option value="TEAMLEAD">TEAMLEAD</option>
                <option value="PROJECTMANAGER">PROJECTMANAGER</option>
                <option value="TEAMMANAGER">TEAMMANAGER</option>
                <option value="TEAMMEMBER">TEAMMEMBER</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                    ng-model="vm.employee.address"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_contactNo">Contact No</label>
            <input type="number" class="form-control" name="contactNo" id="field_contactNo"
                    ng-model="vm.employee.contactNo"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_extnNumber">Extn Number</label>
            <input type="number" class="form-control" name="extnNumber" id="field_extnNumber"
                    ng-model="vm.employee.extnNumber"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_joiningDate">Joining Date</label>
                <div class="input-group">
                    <input id="field_joiningDate" type="text" class="form-control" name="joiningDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.employee.joiningDate" is-open="vm.datePickerOpenStatus.joiningDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('joiningDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
