
<div>
    <h2><span>Employee</span> {{vm.employee.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Emp Id</span></dt>
        <dd>
            <span>{{vm.employee.empId}}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
            <span>{{vm.employee.name}}</span>
        </dd>
        <dt><span>Role</span></dt>
        <dd>
            <span>{{vm.employee.role}}</span>
        </dd>
        <dt><span>Address</span></dt>
        <dd>
            <span>{{vm.employee.address}}</span>
        </dd>
        <dt><span>Contact No</span></dt>
        <dd>
            <span>{{vm.employee.contactNo}}</span>
        </dd>
        <dt><span>Extn Number</span></dt>
        <dd>
            <span>{{vm.employee.extnNumber}}</span>
        </dd>
        <dt><span>Joining Date</span></dt>
        <dd>
            <span>{{vm.employee.joiningDate | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="employee-detail.edit({id:vm.employee.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
