<div>
    <h2>Employees</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="employee.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Employee
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Emp Id</span></th>
                    <th><span>Name</span></th>
                    <th><span>Role</span></th>
                    <th><span>Address</span></th>
                    <th><span>Contact No</span></th>
                    <th><span>Extn Number</span></th>
                    <th><span>Joining Date</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in vm.employees track by employee.id">
                    <td><a ui-sref="employee-detail({id:employee.id})">{{employee.id}}</a></td>
                    <td>{{employee.empId}}</td>
                    <td>{{employee.name}}</td>
                    <td>{{employee.role}}</td>
                    <td>{{employee.address}}</td>
                    <td>{{employee.contactNo}}</td>
                    <td>{{employee.extnNumber}}</td>
                        <td>{{employee.joiningDate | date:'mediumDate'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="employee-detail({id:employee.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="employee.edit({id:employee.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="employee.delete({id:employee.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
