
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTeamLabel">Create or edit a Team</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.team.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.team.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_teamId">Team Id</label>
            <input type="number" class="form-control" name="teamId" id="field_teamId"
                    ng-model="vm.team.teamId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_teamName">Team Name</label>
            <input type="text" class="form-control" name="teamName" id="field_teamName"
                    ng-model="vm.team.teamName"
                     />
        </div>

        <div class="form-group">
            <label for="field_project">Project</label>
            <select class="form-control" id="field_project" name="project" ng-model="vm.team.projectId" ng-options="project.id as project.id for project in vm.projects"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
